<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <style>
      body { font-family: 'Inter', sans-serif; font-optical-sizing: auto;
      font-weight: 500; font-style: normal; font-variation-settings: 'slnt' 0;
      margin: 0; } * { margin: 0; padding: 0; } .mb-10 { margin-bottom: 10px; }
      .wrapper { max-width: 595px; margin: 0 auto; padding: 55px 44px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); } .header { display:
      flex; flex-direction: row; align-items: center; justify-content:
      space-between; margin-bottom: 65px; } .header h1 { font-size: 20px;
      font-weight: light; } .contact-info { display: flex; flex-direction: row;
      font-size: 12px; gap: 10px; } .total { display: flex; flex-direction: row;
      justify-content: flex-end; } .h2 { font-size: 22px; font-weight: 600;
      margin-bottom: 36px; } .h3 { font-size: 14px; font-weight: 600;
      margin-bottom: 10px; } .table-header { font-weight: 600; background:
      #f0f0f0; } .contact-wrapper { margin-bottom: 33px; } .request-info {
      font-size: 12px; } .request-wrapper { margin-bottom: 23px; }
      .table-wrapper { margin-bottom: 12px; } table { font-size: 12px;
      border-collapse: collapse; width: 100%; } td, th { text-align: left;
      padding: 8px; } tr:nth-child(even) { background-color: #dddddd; }
      .total-h3-wrapper { padding: 4px; background: #cccccc; margin-right: 10px;
      } .h3-total { font-weight: 600; font-size: 12px; } .most-total-wrapper {
      display: flex; flex-direction: row; justify-content: flex-end;
      align-items: center; gap: 8px; margin-top: 23px; } .h2-total { font-size:
      18px; font-weight: 600; } .grid-2 { display: grid; grid-template-columns:
      1fr 1fr; } .flex-column-end { display: flex; justify-content: end;
      align-items: end; flex-direction: column; } .inline-block { display:
      inline-block; } .bg-blue { background-color: #2a3eb1; } .bg-white {
      background-color: white; } .text-white { color: white; } .text-bold {
      font-weight: bold; } .text-right { text-align: right; } .padding-8 {
      padding: 8px; } .padding-5-10 { padding: 5px 10px; } .border-1 { border:
      1px solid #ddd; } .border-radius-8 { border-radius: 8px; }
      .border-radius-bottom-left-8 { border-radius: 0 0 0 8px; } .margin-0 {
      margin: 0; }
    </style>
  </head>
  <body>
    <div class='wrapper'>
      <div class='mb-10'>
        <svg
          width='132'
          height='15'
          viewBox='0 0 132 15'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M0.855835 14C0.945835 13.328 1.03283 12.656 1.11684 11.984C1.20084 11.312 1.29084 10.583 1.38684 9.79703L1.91783 5.49503C2.01984 4.72103 2.11284 3.98903 2.19684 3.29903C2.28084 2.60903 2.36784 1.89803 2.45784 1.16603H5.45483C5.74284 1.89803 6.01584 2.60003 6.27384 3.27203C6.53784 3.93803 6.79884 4.60103 7.05684 5.26103L8.58684 9.18503H8.78484L10.2698 5.27003C10.5218 4.60403 10.7708 3.94403 11.0168 3.29003C11.2688 2.63603 11.5328 1.92803 11.8088 1.16603H14.7698C14.8598 1.88603 14.9468 2.59103 15.0308 3.28103C15.1208 3.97103 15.2168 4.71203 15.3188 5.50403L15.8678 9.82403C15.9638 10.604 16.0538 11.324 16.1378 11.984C16.2278 12.644 16.3148 13.316 16.3988 14H13.5818C13.4738 13.1 13.3688 12.245 13.2668 11.435C13.1648 10.625 13.0718 9.86603 12.9878 9.15803L12.6098 6.11603H12.4118L11.2958 9.38303C11.0258 10.187 10.7528 10.985 10.4768 11.777C10.2068 12.563 9.95484 13.304 9.72084 14H7.75884C7.59084 13.55 7.40784 13.067 7.20984 12.551C7.01784 12.035 6.81984 11.51 6.61584 10.976C6.41184 10.436 6.21084 9.90803 6.01284 9.39203L4.77084 6.11603H4.57283L4.20384 9.14003C4.11984 9.85403 4.02684 10.619 3.92483 11.435C3.82883 12.245 3.72684 13.1 3.61883 14H0.855835Z'
            fill='#2431A5'
          />
          <path
            d='M18.6284 14C18.6284 13.31 18.6284 12.641 18.6284 11.993C18.6284 11.345 18.6284 10.619 18.6284 9.81503V5.45903C18.6284 4.63103 18.6284 3.88403 18.6284 3.21803C18.6284 2.55203 18.6284 1.86803 18.6284 1.16603H21.6524C21.6524 1.86803 21.6524 2.55203 21.6524 3.21803C21.6524 3.88403 21.6524 4.63103 21.6524 5.45903V9.81503C21.6524 10.619 21.6524 11.345 21.6524 11.993C21.6524 12.641 21.6524 13.31 21.6524 14H18.6284Z'
            fill='#2431A5'
          />
          <path
            d='M30.4176 14.243C29.3736 14.243 28.4346 14.084 27.6006 13.766C26.7666 13.448 26.0526 12.995 25.4586 12.407C24.8706 11.813 24.4206 11.111 24.1086 10.301C23.7966 9.48503 23.6406 8.58203 23.6406 7.59203C23.6406 6.30803 23.9016 5.16203 24.4236 4.15403C24.9456 3.14003 25.6956 2.34503 26.6736 1.76903C27.6516 1.19303 28.8216 0.905029 30.1836 0.905029C30.5976 0.905029 31.0056 0.932029 31.4076 0.986029C31.8156 1.04003 32.2056 1.11203 32.5776 1.20203C32.9496 1.29203 33.2946 1.39703 33.6126 1.51703C33.9366 1.63103 34.2246 1.75403 34.4766 1.88603L34.2516 4.64003C33.7836 4.34603 33.3336 4.11203 32.9016 3.93803C32.4696 3.75803 32.0526 3.62903 31.6506 3.55103C31.2546 3.46703 30.8766 3.42503 30.5166 3.42503C29.7846 3.42503 29.1336 3.58703 28.5636 3.91103C27.9936 4.22903 27.5436 4.70003 27.2136 5.32403C26.8896 5.94203 26.7276 6.69803 26.7276 7.59203C26.7276 8.16203 26.8116 8.70203 26.9796 9.21203C27.1476 9.71603 27.3996 10.163 27.7356 10.553C28.0776 10.943 28.5036 11.249 29.0136 11.471C29.5236 11.693 30.1206 11.804 30.8046 11.804C31.0866 11.804 31.3686 11.786 31.6506 11.75C31.9386 11.708 32.2266 11.645 32.5146 11.561C32.8026 11.477 33.0906 11.363 33.3786 11.219C33.6666 11.069 33.9546 10.889 34.2426 10.679L34.4046 13.397C34.1466 13.541 33.8616 13.667 33.5496 13.775C33.2376 13.883 32.9076 13.97 32.5596 14.036C32.2176 14.108 31.8636 14.159 31.4976 14.189C31.1376 14.225 30.7776 14.243 30.4176 14.243Z'
            fill='#2431A5'
          />
          <path
            d='M36.5303 14C36.5303 13.31 36.5303 12.641 36.5303 11.993C36.5303 11.345 36.5303 10.619 36.5303 9.81503V5.45903C36.5303 4.63103 36.5303 3.88403 36.5303 3.21803C36.5303 2.55203 36.5303 1.86803 36.5303 1.16603H45.0533V3.58703C44.5013 3.58703 43.9073 3.58703 43.2713 3.58703C42.6413 3.58703 41.8973 3.58703 41.0393 3.58703H38.0153L39.4283 1.63403C39.4283 2.33603 39.4283 3.02003 39.4283 3.68603C39.4283 4.35203 39.4283 5.09903 39.4283 5.92703V9.34703C39.4283 10.145 39.4283 10.871 39.4283 11.525C39.4283 12.173 39.4283 12.842 39.4283 13.532L38.2043 11.579H41.2553C41.9693 11.579 42.6443 11.579 43.2803 11.579C43.9223 11.579 44.5403 11.579 45.1343 11.579V14H36.5303ZM38.7533 8.65403V6.40403H41.1023C41.8943 6.40403 42.5723 6.40403 43.1363 6.40403C43.7003 6.40403 44.2433 6.40403 44.7653 6.40403V8.65403C44.2133 8.65403 43.6553 8.65403 43.0913 8.65403C42.5273 8.65403 41.8643 8.65403 41.1023 8.65403H38.7533Z'
            fill='#2431A5'
          />
          <path
            d='M51.7795 14C51.1315 14 50.5285 14 49.9705 14C49.4185 14 48.9145 14 48.4585 14C48.0085 14 47.6125 14 47.2705 14C47.2705 13.31 47.2705 12.641 47.2705 11.993C47.2705 11.345 47.2705 10.619 47.2705 9.81503V5.45903C47.2705 4.63103 47.2705 3.88403 47.2705 3.21803C47.2705 2.55203 47.2705 1.86803 47.2705 1.16603C47.9965 1.16603 48.8125 1.16603 49.7185 1.16603C50.6245 1.16603 51.5395 1.16603 52.4635 1.16603C53.3395 1.16603 54.0715 1.23803 54.6595 1.38203C55.2535 1.52003 55.7245 1.72103 56.0725 1.98503C56.4265 2.24303 56.6785 2.55203 56.8285 2.91203C56.9845 3.27203 57.0625 3.67403 57.0625 4.11803C57.0625 4.66403 56.9605 5.13803 56.7565 5.54003C56.5525 5.94203 56.2735 6.27503 55.9195 6.53903C55.5655 6.79703 55.1665 6.98303 54.7225 7.09703V7.32203C55.2325 7.43603 55.6855 7.61303 56.0815 7.85303C56.4835 8.09303 56.7955 8.42003 57.0175 8.83403C57.2395 9.24803 57.3505 9.77003 57.3505 10.4C57.3505 10.94 57.2635 11.432 57.0895 11.876C56.9215 12.314 56.6275 12.692 56.2075 13.01C55.7935 13.328 55.2265 13.574 54.5065 13.748C53.7865 13.916 52.8775 14 51.7795 14ZM50.1775 11.777H52.0495C52.5655 11.777 52.9885 11.714 53.3185 11.588C53.6545 11.462 53.9005 11.279 54.0565 11.039C54.2125 10.799 54.2905 10.502 54.2905 10.148C54.2905 9.61403 54.1105 9.22103 53.7505 8.96903C53.3905 8.71103 52.8715 8.58203 52.1935 8.58203H49.4755V6.50303H52.0675C52.5055 6.50303 52.8685 6.43403 53.1565 6.29603C53.4445 6.15203 53.6575 5.96003 53.7955 5.72003C53.9395 5.48003 54.0115 5.20103 54.0115 4.88303C54.0115 4.38503 53.8645 4.01003 53.5705 3.75803C53.2765 3.50003 52.8295 3.37103 52.2295 3.37103H50.1775C50.1775 3.78503 50.1775 4.20803 50.1775 4.64003C50.1775 5.07203 50.1775 5.56403 50.1775 6.11603V9.17603C50.1775 9.69203 50.1775 10.157 50.1775 10.571C50.1775 10.979 50.1775 11.381 50.1775 11.777Z'
            fill='#2431A5'
          />
          <path
            d='M65.3175 14.243C64.1595 14.243 63.1575 14.066 62.3115 13.712C61.4655 13.352 60.7695 12.863 60.2235 12.245C59.6775 11.621 59.2695 10.91 58.9995 10.112C58.7355 9.31403 58.6035 8.47403 58.6035 7.59203C58.6035 6.34403 58.8495 5.21603 59.3415 4.20803C59.8395 3.19403 60.5775 2.39003 61.5555 1.79603C62.5395 1.20203 63.7665 0.905029 65.2365 0.905029C66.3525 0.905029 67.3275 1.07903 68.1615 1.42703C68.9955 1.76903 69.6885 2.24603 70.2405 2.85803C70.7985 3.47003 71.2155 4.17803 71.4915 4.98203C71.7675 5.78603 71.9055 6.65003 71.9055 7.57403C71.9055 8.85203 71.6505 9.99203 71.1405 10.994C70.6365 11.996 69.8955 12.788 68.9175 13.37C67.9395 13.952 66.7395 14.243 65.3175 14.243ZM65.2725 11.804C65.8665 11.804 66.3855 11.693 66.8295 11.471C67.2735 11.243 67.6425 10.931 67.9365 10.535C68.2305 10.139 68.4495 9.68903 68.5935 9.18503C68.7435 8.67503 68.8185 8.13803 68.8185 7.57403C68.8185 6.98003 68.7375 6.42803 68.5755 5.91803C68.4195 5.40203 68.1885 4.95203 67.8825 4.56803C67.5825 4.18403 67.2135 3.88403 66.7755 3.66803C66.3375 3.45203 65.8365 3.34403 65.2725 3.34403C64.6905 3.34403 64.1745 3.45503 63.7245 3.67703C63.2805 3.89903 62.9085 4.20803 62.6085 4.60403C62.3085 4.99403 62.0805 5.44403 61.9245 5.95403C61.7685 6.46403 61.6905 7.00403 61.6905 7.57403C61.6905 8.14403 61.7655 8.68403 61.9155 9.19403C62.0655 9.69803 62.2875 10.148 62.5815 10.544C62.8815 10.934 63.2535 11.243 63.6975 11.471C64.1475 11.693 64.6725 11.804 65.2725 11.804Z'
            fill='#2431A5'
          />
          <path
            d='M79.9776 14.243C78.8196 14.243 77.8176 14.066 76.9716 13.712C76.1256 13.352 75.4296 12.863 74.8836 12.245C74.3376 11.621 73.9296 10.91 73.6596 10.112C73.3956 9.31403 73.2636 8.47403 73.2636 7.59203C73.2636 6.34403 73.5096 5.21603 74.0016 4.20803C74.4996 3.19403 75.2376 2.39003 76.2156 1.79603C77.1996 1.20203 78.4266 0.905029 79.8966 0.905029C81.0126 0.905029 81.9876 1.07903 82.8216 1.42703C83.6556 1.76903 84.3486 2.24603 84.9007 2.85803C85.4587 3.47003 85.8756 4.17803 86.1516 4.98203C86.4276 5.78603 86.5657 6.65003 86.5657 7.57403C86.5657 8.85203 86.3107 9.99203 85.8007 10.994C85.2967 11.996 84.5556 12.788 83.5776 13.37C82.5996 13.952 81.3996 14.243 79.9776 14.243ZM79.9326 11.804C80.5266 11.804 81.0456 11.693 81.4896 11.471C81.9336 11.243 82.3026 10.931 82.5966 10.535C82.8906 10.139 83.1096 9.68903 83.2536 9.18503C83.4036 8.67503 83.4786 8.13803 83.4786 7.57403C83.4786 6.98003 83.3976 6.42803 83.2356 5.91803C83.0796 5.40203 82.8486 4.95203 82.5426 4.56803C82.2426 4.18403 81.8736 3.88403 81.4356 3.66803C80.9976 3.45203 80.4966 3.34403 79.9326 3.34403C79.3506 3.34403 78.8347 3.45503 78.3847 3.67703C77.9407 3.89903 77.5686 4.20803 77.2686 4.60403C76.9686 4.99403 76.7406 5.44403 76.5846 5.95403C76.4286 6.46403 76.3506 7.00403 76.3506 7.57403C76.3506 8.14403 76.4256 8.68403 76.5756 9.19403C76.7256 9.69803 76.9476 10.148 77.2416 10.544C77.5416 10.934 77.9137 11.243 78.3577 11.471C78.8077 11.693 79.3326 11.804 79.9326 11.804Z'
            fill='#2431A5'
          />
          <path
            d='M95.9068 14C95.5108 13.43 95.1358 12.896 94.7818 12.398C94.4338 11.894 94.0918 11.399 93.7558 10.913L92.0638 8.49203H91.2358V6.17003H92.0278L93.5398 4.19003C93.8998 3.72203 94.2568 3.25703 94.6108 2.79503C94.9648 2.32703 95.3758 1.78403 95.8438 1.16603H99.2548C98.6968 1.84403 98.1508 2.51003 97.6168 3.16403C97.0888 3.81803 96.5578 4.47803 96.0238 5.14403L93.9898 7.65503L93.9358 6.35003L96.1948 9.47303C96.5428 9.95303 96.9148 10.469 97.3108 11.021C97.7128 11.573 98.1028 12.11 98.4808 12.632C98.8588 13.154 99.1918 13.61 99.4798 14H95.9068ZM88.5178 14C88.5178 13.31 88.5178 12.641 88.5178 11.993C88.5178 11.345 88.5178 10.619 88.5178 9.81503V5.45903C88.5178 4.63103 88.5178 3.88403 88.5178 3.21803C88.5178 2.55203 88.5178 1.86803 88.5178 1.16603H91.4698C91.4698 1.86803 91.4698 2.55203 91.4698 3.21803C91.4698 3.88403 91.4698 4.63103 91.4698 5.45903V9.81503C91.4698 10.619 91.4698 11.345 91.4698 11.993C91.4698 12.641 91.4698 13.31 91.4698 14H88.5178Z'
            fill='#2431A5'
          />
          <path
            d='M101.14 14C101.14 13.31 101.14 12.641 101.14 11.993C101.14 11.345 101.14 10.619 101.14 9.81503V5.45903C101.14 4.63103 101.14 3.88403 101.14 3.21803C101.14 2.55203 101.14 1.86803 101.14 1.16603H104.164C104.164 1.86803 104.164 2.55203 104.164 3.21803C104.164 3.88403 104.164 4.63103 104.164 5.45903V9.81503C104.164 10.619 104.164 11.345 104.164 11.993C104.164 12.641 104.164 13.31 104.164 14H101.14Z'
            fill='#2431A5'
          />
          <path
            d='M106.746 14C106.746 13.31 106.746 12.641 106.746 11.993C106.746 11.345 106.746 10.619 106.746 9.81503V5.45903C106.746 4.63103 106.746 3.88403 106.746 3.21803C106.746 2.55203 106.746 1.86803 106.746 1.16603H109.329C109.929 2.04203 110.496 2.87003 111.03 3.65003C111.564 4.42403 112.098 5.20103 112.632 5.98103L114.72 9.00503H114.936V5.45903C114.936 4.63103 114.936 3.88403 114.936 3.21803C114.936 2.55203 114.936 1.86803 114.936 1.16603H117.717C117.717 1.86803 117.717 2.55203 117.717 3.21803C117.717 3.88403 117.717 4.63103 117.717 5.45903V9.81503C117.717 10.619 117.717 11.345 117.717 11.993C117.717 12.641 117.717 13.31 117.717 14H115.161C114.669 13.28 114.153 12.53 113.613 11.75C113.073 10.97 112.482 10.118 111.84 9.19403L109.725 6.13403H109.518V9.81503C109.518 10.619 109.518 11.345 109.518 11.993C109.518 12.641 109.518 13.31 109.518 14H106.746Z'
            fill='#2431A5'
          />
          <path
            d='M126.582 14.225C125.478 14.225 124.497 14.063 123.639 13.739C122.781 13.409 122.055 12.947 121.461 12.353C120.873 11.759 120.423 11.057 120.111 10.247C119.805 9.43703 119.652 8.54903 119.652 7.58303C119.652 6.27503 119.919 5.12003 120.453 4.11803C120.993 3.11003 121.764 2.32403 122.766 1.76003C123.768 1.19003 124.971 0.905029 126.375 0.905029C126.825 0.905029 127.263 0.935029 127.689 0.995029C128.121 1.04903 128.529 1.12403 128.913 1.22003C129.297 1.31003 129.654 1.41503 129.984 1.53503C130.314 1.64903 130.605 1.76903 130.857 1.89503L130.632 4.64003C130.128 4.35203 129.639 4.11803 129.165 3.93803C128.697 3.75803 128.247 3.62903 127.815 3.55103C127.389 3.46703 126.987 3.42503 126.609 3.42503C126.057 3.42503 125.544 3.51503 125.07 3.69503C124.602 3.86903 124.191 4.13303 123.837 4.48703C123.483 4.84103 123.207 5.27903 123.009 5.80103C122.817 6.31703 122.721 6.91403 122.721 7.59203C122.721 8.17403 122.802 8.72303 122.964 9.23903C123.132 9.75503 123.384 10.211 123.72 10.607C124.056 10.997 124.482 11.303 124.998 11.525C125.52 11.747 126.132 11.858 126.834 11.858C127.206 11.858 127.56 11.84 127.896 11.804C128.232 11.768 128.556 11.711 128.868 11.633C129.18 11.555 129.486 11.459 129.786 11.345C130.092 11.225 130.398 11.081 130.704 10.913L131.055 13.55C130.851 13.634 130.587 13.718 130.263 13.802C129.945 13.88 129.585 13.952 129.183 14.018C128.787 14.084 128.367 14.135 127.923 14.171C127.479 14.207 127.032 14.225 126.582 14.225ZM128.274 13.604C128.274 12.932 128.274 12.344 128.274 11.84C128.274 11.336 128.274 10.829 128.274 10.319C128.274 9.73103 128.274 9.20903 128.274 8.75303C128.274 8.29703 128.274 7.83203 128.274 7.35803H131.055C131.055 7.83203 131.055 8.29703 131.055 8.75303C131.055 9.20903 131.055 9.73103 131.055 10.319C131.055 10.829 131.055 11.336 131.055 11.84C131.055 12.338 131.055 12.908 131.055 13.55L128.274 13.604Z'
            fill='#2431A5'
          />
        </svg>

        <h1 class='text-bold' style='font-size: 20px; color: #000'>
          Запрос №{{request.id}}
          .
          {{request.client.name}}
        </h1>
      </div>
      <hr class='mb-10' />
      <div class='grid-2 mb-10'>
        <h3>Название Мероприятия:</h3>
        <p>
          {{request.client.name}}
        </p>
      </div>
      <div class='grid-2 mb-10'>
        <h3>Ориентировочные даты проведения:</h3>
        <p>{{request.date_from}} - {{request.date_to}}</p>
      </div>
      <div class='grid-2 mb-10'>
        <h3>Заказчик:</h3>
        <p>
          {{request.client.name}}
          {{request.client.address}}
          Телефон ({{request.client.phone}}) Email
          {{request.client.email}}
          ОКПО
          {{request.client.okpo}}
          ОГРН
          {{request.client.ogrn}}
          ИНН
          {{request.client.inn}}
          {{request.client.inn}}/{{request.client.kpp}}
        </p>
      </div>
      <div class='grid-2'>
        <h3>Контактное лицо:</h3>
        <p>{{request.client.contact_name}}
          {{request.client.contact_email}}
          {{request.client.contact_phone}}</p>
      </div>
      {{#if request.halls}}
        <div>
          <h3>Залы</h3>
          <div class='flex-column-end'>
            <table class='border-radius-8' style='overflow: hidden'>
              <tr class='bg-blue text-white'>
                <th class='padding-8 border-1'>Название зала</th>
                <th class='padding-8 border-1'>Рассадка</th>
                <th class='padding-8 border-1'>Количество дней</th>
                <th class='padding-8 border-1'>Стоимость</th>
              </tr>
              {{#each request.halls as |hall|}}
                <tr>
                  <td class='padding-8 border-1'>{{hall.name}}</td>
                  <td class='padding-8 border-1'>{{hall.seating}}</td>
                  <td class='padding-8 border-1'>{{hall.days}} дня</td>
                  <td class='padding-8 border-1'>{{hall.cost}} руб.</td>
                </tr>
              {{/each}}
            </table>
            <div class='total-wrapper'>
              <p
                class='inline-block bg-blue text-white padding-5-10 border-radius-bottom-left-8 margin-0'
              >
                Итого:
              </p>
              <p class='inline-block text-bold padding-5-10 margin-0'>
                {{request.hallsTotalCost}}
                руб.
              </p>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if request.food}}
        <div>
          <h3>Питание</h3>
          <div class='flex-column-end'>
            <table class='border-radius-8' style='overflow: hidden'>
              <tr class='bg-blue text-white'>
                <th class='padding-8 border-1'>Название пакета</th>
                <th class='padding-8 border-1'>Количество, шт</th>
                <th class='padding-8 border-1'>Количество персон</th>
                <th class='padding-8 border-1'>Стоимость</th>
              </tr>
              {{#each request.food as |foodItem|}}
                <tr>
                  <td class='padding-8 border-1'>{{foodItem.packageName}}</td>
                  <td class='padding-8 border-1'>{{foodItem.quantity}}</td>
                  <td class='padding-8 border-1'>{{foodItem.persons}}</td>
                  <td class='padding-8 border-1'>{{foodItem.cost}} руб.</td>
                </tr>
              {{/each}}
            </table>
            <div class='total-wrapper'>
              <p
                class='inline-block bg-blue text-white padding-5-10 border-radius-bottom-left-8 margin-0'
              >
                Итого:
              </p>
              <p class='inline-block text-bold padding-5-10 margin-0'>
                {{request.foodTotalCost}}
                руб.
              </p>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if request.rooms}}
        <div>
          <h3>Проживание</h3>
          <div class='flex-column-end'>
            <table class='border-radius-8' style='overflow: hidden'>
              <tr class='bg-blue text-white'>
                <th class='padding-8 border-1'>Название номера</th>
                <th class='padding-8 border-1'>Количество</th>
                <th class='padding-8 border-1'>Количество ночей</th>
                <th class='padding-8 border-1'>Стоимость</th>
              </tr>
              {{#each request.rooms as |room|}}
                <tr>
                  <td class='padding-8 border-1'>{{room.name}}</td>
                  <td class='padding-8 border-1'>{{room.quantity}}</td>
                  <td class='padding-8 border-1'>{{room.nights}}</td>
                  <td class='padding-8 border-1'>{{room.cost}} руб.</td>
                </tr>
              {{/each}}
            </table>
            <div class='total-wrapper'>
              <p
                class='inline-block bg-blue text-white padding-5-10 border-radius-bottom-left-8 margin-0'
              >
                Итого:
              </p>
              <p class='inline-block text-bold padding-5-10 margin-0'>
                {{request.roomsTotalCost}}
                руб.
              </p>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </body>
</html>